<app-loading *ngIf="loading"></app-loading>
<div id="mermaid-content-wrapper" [ngClass]="mermaidWrapperCssClass">
<pre>
  <div id="mermaidcontainer" class="mermaid">
    graph LR


    subgraph Website

        DB(Database)
        BE-API[Back End API]
        FE-API[Front End API]
        Web[Website]


        DB --- BE-API
        BE-API --- FE-API
        FE-API --- Web
      end

    subgraph Inspiration
      DB2(Database)
    end

    subgraph Experience
      DB3(Database)
    end

    %% This needs generating from a template
    classDef default fill:#f9f,stroke:#333,stroke-width:4px;
    classDef qualitylow fill:#B02020,stroke:#333,stroke-width:4px;color:#ffffff;
    classDef qualitymid fill:#DD550C,stroke:#333,stroke-width:4px;
    classDef qualityhigh fill:#DFE74A,stroke:#333,stroke-width:4px;
    classDef q09 fill:#ffffff
    classDef q19 fill:#fff5eb
    classDef q29 fill:#fee6ce
    classDef q39 fill:#fdd0a2
    classDef q49 fill:#fdae6b
    classDef q59 fill:#fd8d3c
    classDef q69 fill:#f16913
    classDef q79 fill:#d94801
    classDef q89 fill:#a63603
    classDef q99 fill:#7f2704

    class DB qualityow;
    class FE-API qualitylow;
    class DB2,Web q99;
    class DB3,BE-API qualityhigh;

    click DB2 callback "text"
    click FE-API undefinedTooltip "Any Tooltip Text"
    </div>
   <!-- <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
   <script>mermaid.initialize({startOnLoad:true});</script> -->
</pre>
</div>
