

#mermaid-content-wrapper.hidden {
  visibility: hidden !important;
}



//Does this id change?
svg{
  border:1px solid forestgreen !important;

}
pre {
  width:100%;
  // width:2000px !important;
  min-width: 1600px;
  height: auto;
  align-content: center;

}

.mermaidcontainer {
  min-width:0px;
  margin:1px;
  vertical-align: auto;
}

.mermaidTooltip {
  position: absolute !important;
  top:0px;
  left:0px;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 12px;
  background: #ffffde;
  border: 1px solid #aaaa33;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;

  width:200px;
}

svg[id^=mermaid-]{
  // width:1000px !important;
  max-width: initial;
  align-content: center;
}

// g.qualityow{
//   color:orangered;
//   border:1px solid orangered;
//   fill:#FF0000;
//   stroke:#FFFF00;
//   stroke-width:4px;

// }


// .quality-mid {

//   color:orange;
//   border:1px solid orange;
// }


// .quality-high {
//   color:white;
//   border:1px solid white;
// }

/* Orange sequential colour scale from https://colorbrewer2.org/#type=sequential&scheme=Oranges&n=9 */
// /* .Oranges*/ .q0-9{fill:rgb(255,245,235)}                       //1
// /* .Oranges*/ .q1-9{fill:rgb(254,230,206)}                       //2
// /* .Oranges*/ .q2-9{fill:rgb(253,208,162)}                       //3
// /* .Oranges*/ .q3-9{fill:rgb(253,174,107)}                       //4
// /* .Oranges*/ .q4-9{fill:rgb(253,141,60)}                        //5
// /* .Oranges*/ .q5-9{fill:rgb(241,105,19)}                        //6
// /* .Oranges*/ .q6-9{fill:rgb(217,72,1)}                          //7
// /* .Oranges*/ .q7-9{fill:rgb(166,54,3)}                          //8
// /* .Oranges*/ .q8-9{fill:rgb(127,39,4)}                          //9
// /* .Oranges*/ .q9-9{fill:rgb(150, 10, 5)} /* Manually added */   //10
// ['#fff5eb','#fee6ce','#fdd0a2','#fdae6b','#fd8d3c','#f16913','#d94801','#a63603','#7f2704']
