
//Does this id change?
svg{
  border:1px solid forestgreen !important;

}
pre {
  width:100%;
  // width:2000px !important;
  min-width: 1600px;
  height: auto;
  align-content: center;

}

.mermaidcontainer {
  min-width:0px;
  margin:1px;
  vertical-align: auto;
}

svg[id^=mermaid-]{
  // width:1000px !important;
  max-width: initial;
  align-content: center;
}

g.qualityow{
  color:orangered;
  border:1px solid orangered;
  fill:#FF0000;
  stroke:#FFFF00;
  stroke-width:4px;

}


.quality-mid {

  color:orange;
  border:1px solid orange;
}


.quality-high {
  color:white;
  border:1px solid white;
}
