<p> See <a target="_blank" href="https://www.ag-grid.com/angular-grid/getting-started/#add-ag-grid-to-your-project-1">ng grid docs</a></p>

<div>
  <app-datagrid
    [modelType]="'tempproject'"
    [nameSingular]="'Project'"
    [namePlural]="'Projects'"
    [columnDefs]='projectColumnDefs'
    [newObjectTemplate]='projectTemplate'
    [listFilter]='projectListFilter'>
  </app-datagrid>
</div>
<div>
  <app-datagrid
    [modelType]="'temppart'"
    [nameSingular]="'Part'"
    [namePlural]="'Parts'"
    [columnDefs]='partColumnDefs'
    [newObjectTemplate]='partTemplate'
    [listFilter]='partListFilter'>
  </app-datagrid>
</div>


<div>
  <app-datagrid
    [modelType]="'tempqualitydimension'"
    [nameSingular]="'QualityDimension'"
    [namePlural]="'QualityDimensions'"
    [columnDefs]='qualitydimensionColumnDefs'
    [newObjectTemplate]='qualitydimensionTemplate'>
  </app-datagrid>
</div>
<div>
  <app-datagrid
    [modelType]="'temppartqualitydimension'"
    [nameSingular]="'PartQualityDimension'"
    [namePlural]="'PartQualityDimensions'"
    [columnDefs]='partqualitydimensionColumnDefs'
    [newObjectTemplate]='partqualitydimensionTemplate'>
  </app-datagrid>
</div>
