<mat-tab-group
  mat-align-tabs="start"
  animationDuration="500ms"
  (selectedTabChange)="tabChanged($event)"
  mat-stretch-tabs
  >

  <mat-tab label="Notes">
    <!-- <p>spacing issues without a component?</p> -->
    <app-notes></app-notes>
    <!-- <ng-template matTabContent> lazy load content
      <app-embedded-mermaid></app-embedded-mermaid>
    </ng-template> -->
  </mat-tab>

  <mat-tab label="Quality View" isActive="true">
    <ng-template matTabContent> <!-- ng-template lets us lazy load content (though whichever tab loads first will fail)-->
      <app-embedded-mermaid></app-embedded-mermaid>
      <!-- <app-mermaid-graph></app-mermaid-graph> -->
    </ng-template>
  </mat-tab>

  <mat-tab label="Data">
    <app-sandbox [child_id]="reset_seed"></app-sandbox>
  </mat-tab>


  <mat-tab label="Project Explorer" isActive="true">
    <app-projectexplorer></app-projectexplorer>
  </mat-tab>

  <mat-tab label="API Explorer">
    <app-apiexplorer style="width:100%"></app-apiexplorer>
  </mat-tab>

  <mat-tab label="Moodboard">
    <app-moodboard></app-moodboard>
  </mat-tab>

</mat-tab-group>

