<p>Dataloaded: {{dataLoaded}}, attempted {{attemptedLoads}}</p>

<div id="sandbox-container">

  <div class="flex-column">
    <h4>Dimensions</h4>
    <ul>
      <li *ngFor="let dimension of dimensions; index as i; " class="hastooltip">
        {{dimension.name}} <span class="description">({{dimension.description}})</span>
        <span class="tooltiptext">{{dimension.tooltip}}</span>
      </li>
    </ul>
  </div>

  <div class="flex-column-wide">
    <h4>Evidence</h4>

    <div *ngFor="let dimension of dimensions; index as i; ">
      <p>{{dimension.name}}</p>
        <div *ngFor="let evidenceDimension of evidence; index as i; ">
          <div *ngIf="dimension.name == evidenceDimension.dimension">
            <ul>
              <li *ngFor="let evidenceSource of evidenceDimension.evidenceSources; index as i; ">
                {{evidenceSource.name}}
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="flex-column">
    <h4>Results</h4>

    <div *ngFor="let dimension of dimensions; index as i; ">
      <p>{{dimension.name}}</p>
        <!-- <div *ngFor="let evidenceDimension of evidence; index as i; ">
          <div *ngIf="dimension.name == evidenceDimension.dimension">
            <div *ngFor="let result of results; index as i; ">

              <p>A{{result.projectelement}}</p>
              <p>B{{result.projectelementResults}}</p>


              <div *ngIf="result.projectelement == evidenceDimension.element">
                <p>C{{result.projectelement}}</p>
                <p>D{{result.projectelementResults}}</p>
                <div *ngIf="result.projectelementResults" >
                <ul *ngFor="let elementResult of result.projectelementResults; index as i; ">
                  <!-- <li *ngFor="let evidenceSource of evidenceDimension.evidenceSources; index as i; ">
                    {{evidenceSource.name}}
                  </li>
                  <li>E{{elementResult.result}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>


</div>
